@layer components {

	svg {
		display: inline-block;
	}

	img {
		width: 100%;
	}

	.aspect {
		position: relative;
		&::before {
			content: "";
			display: block;
		}

		@layer utilities {
			&.a31::before {
				padding-top: math.div(100%, 3) * 1;
			}
			&.a32::before {
				padding-top: math.div(100%, 3) * 2;
			}
			&.a43::before {
				padding-top: math.div(100%, 4) * 3;
			}
			&.a169::before {
				padding-top: math.div(100%, 16) * 9;
			}
			&.a11::before {
				padding-top: 100%;
			}
			&.a21::before {
				padding-top: math.div(100%, 2) * 1;
			}
			&.a23::before {
				padding-top: math.div(100%, 2) * 3;
			}
			&.a34::before {
				padding-top: math.div(100%, 3) * 4;
			}
			&.contain > *:first-child {
				object-fit: contain;
			}
		}

		> *:first-child {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			object-position: center;
			object-fit: cover;
		}

		span svg {
			height: 100%;
			width: 100%;
		}
	}

}
